@model PersonViewModel
@{
    ViewData["Title"] = "Index";
}

@Html.Partial("PersonPartialView", Model.Person)

<table class="table table-bordered table-light table-hover">
    <thead>
        <tr>
            <th>First Name<br/>Last Name</th>
            <th>Age</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.FullName)
                </td>
                <td class="age">
                    @Html.DisplayFor(modelItem => user.Age)
                </td>
                <td>
                    <select class="form-select form-select-xs mb-3" aria-label=".form-select-xs example">
                        <option value="select" class="a">- Select -</option>
                        <option value="married" class="a">Married</option>
                        <option value="single" class="a">Single</option>
                    </select>
                </td>
            </tr>
        }
    </tbody>
</table>


<script>

$(function () {

    $('select').change(function () {
        if ($(this).val() == "single") {
            $('#single').modal('show');
        }

        if ($(this).val() == "married") {
            $('#married').modal('show');
        }
    });

    $('.btnCancel').click(function() {
        $('.form-select').val("select");
        $('.modal').modal('hide');
    });

    $('#btnSave').click(function() {

        $('#single').modal('hide');
    });
   

        
});


</script>

<div class="modal fade" id="single" aria-labelledby="singleLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="singleLabel">Single Dummy Popup</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="column right">
                        :-)
                    </div>
                    <div class="column right">
                    </div>
                </div>
                <div class="row">
                    <div class="column left">
                    </div>
                    <div class="column right">
                        <input type="submit" name="btn" value="Cancel" class="btnCancel"/>
                        <input type="submit" name="btn" value="Save" id="btnSave"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="married" aria-labelledby="marriedLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="marriedLabel">Select Spouse</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="column left">
                        Spouse:
                    </div>
                    <div class="column right">
                    </div>
                </div>
                <div class="row">
                    <div class="column left">
                    </div>
                    <div class="column right">
                        <input type="submit" name="btn" value="Cancel" class="btnCancel"/>
                        <input type="submit" name="btn" value="Save"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>